.wrapper {
    background: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container {
    background: url("./img/MV5BMTU4NjY3NzgyM15BMl5BanBnXkFtZTcwODI4OTEzNA@@._V1_.jpg") center center no-repeat;
    height: 80vh;
    background-size: cover;
    color: bisque;
    
    text-align: center;
}

.form-container {
    color: bisque;
    background-color: rgba(0, 0, 0, 0.425);
    
}

.norris-fact {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    color: bisque;
}